.brand-letter {
    position: relative;
}

.brand-letter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-top: 30px;
    z-index: 2;
}

.brand-letter-title {
    position: relative;
    z-index: 2;
}

.brand-letter-title h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.brand-letter-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.35;
}


.egg-letter-title {
    position: absolute;
    top: -21px;
    left: -4px;
    z-index: 1;
}

.brand-letter-text {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 1em;
    line-height: 1.5;
}

.brand-letter-img {
    width: 40%;
    height: auto;
    align-self: flex-end;
}

.brand-center-img {
    display: none;
}

@media screen and (min-width: 850px) {
    .brand-letter-title h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .brand-letter-subtitle {
        font-size: 36px;
    }

    .brand-letter-text {
        font-size: 24px;
    }
}

@media screen and (min-width: 1300px) {
    .brand-letter-img {
        align-self: flex-start;
    }

    .brand-center-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

@media screen and (min-width: 1920px) {
    .brand-letter-container {
        padding: 0 322px;
    }
}