.brand-princ {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 4em;
}

.brand-egg-title {
    position: absolute;
    top: -25px;
    left: -3px;
    z-index: 2;
}

.brand-main-title {
    position: relative;
    z-index: 3;
}

.brand-main-title>h3 {
    font-size: 20px;
    font-weight: 700;
    color: #303030;
    text-align: start;
    line-height: 1.4;
}

.brand-main-text {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    text-align: start;
    margin-top: 1em;
    line-height: 1.35;
}

.brand-main-text-2 {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    text-align: center;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.35;
}

.princCards-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    align-items: start;
    margin-top: 1em;
}



.princ-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.brand-princ-ellipse-green {
    position: absolute;
    width: auto;
    height: 200px;
    top: 535px;
    left: -85px;
}


@media screen and (min-width: 850px) {
    .brand-princ {
        margin-top: 5em;
    }

    .brand-main-title>h3 {
        font-size: 32px;
    }

    .brand-main-text {
        font-size: 26px;
    }

    .brand-egg-title {
        top: -27px;
        left: 3px;
    }

    .princCards-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        align-items: start;
        margin-top: 40px;
    }

    .brand-main-text-2 {
        font-size: 26px;
        margin-bottom: 70px;
    }


}

@media screen and (min-width: 1920px) {
    .brand-princ {
        padding: 0 322px;
    }

    .brand-princ-ellipse-green {
        height: 504px;
        width: auto;
        position: absolute;
        top: 265px;
        left: -15px;
    }

}