.brand-logo-info {
    position: relative;
    margin-top: 5em;
}

.brand-logo-info-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    color: #707070;
    text-align: left;
}

.brand-logo-gap {
    height: 0px;
}

.brand-logo-type {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.brand-logo-type-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.35;
    text-align: left;
    margin-bottom: 10px;
}

.brand-logo-type-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.brand-logo-type-main-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.35;
    color: #707070;
    text-align: left;
    margin-left: 20px;
}

.brand-logo-type-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.brand-logo-type-pic-eng {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.brand-logo-type-pic-kor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}


@media screen and (min-width: 850px) {
    .brand-logo-gap {
        display: none;
    }

    .brand-logo-info-text {
        font-size: 26px;
    }

    .brand-logo-type {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .brand-logo-type-title {
        font-size: 24px;

    }

    .brand-logo-type-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 78%;
    }

    .brand-logo-type-main-text {
        font-size: 16px;
        font-weight: 500;
        margin-left: 0;

    }

    .brand-logo-type-pic {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;
    }


}

@media screen and (min-width: 1920px) {
    .brand-logo-info {
        padding-left: 322px;
    }
}