.brand-main-head {
    width: 100vw;
    height: 151px;
    background-image: url("/assets/image/brand/s-head-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1em;
}

.brand-main-head-title {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

@media screen and (min-width: 850px) {
    .brand-main-head {
        background-image: url("/assets/image/brand/head-img.png");
        height: 383px;
    }

    .brand-main-head-title {
        font-size: 48px;
    }
}