.footer2 {
    align-items: center;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 234px;
    justify-content: center;
    padding: 12px 0px;
    position: relative;
    width: 100%;
    margin-top: 50px;

}

.footer-logo {
    height: 38px;
    width: 119.59px;
}

.footer-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.footer-wrapper>div {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.footer-nav-list {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    width: 273px;
    list-style: none;
}

.footer-nav-item {
    align-items: center;
    color: #ababab;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0;
    line-height: 16.8px;
    margin-top: -1px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
}

.footer-text {
    align-items: center;
    align-self: stretch;
    color: #ababab;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0;
    line-height: 19.2px;
    text-align: center;
}

@media screen and (min-width: 850px) {
    .footer2 {
        width: 100vw;
        text-align: start;
        align-items: flex-start;
        padding-left: 1em;
        margin-top: 100px;
    }

    .footer-wrapper {
        align-items: flex-start;
    }

    .footer-text {
        justify-content: flex-start;
        text-align: start;
    }
}

@media screen and (min-width: 1920px) {
    .footer2 {
        padding-left: 322px;
    }
}