.banner {
    width: 100vw;
    height: 132px;
    display: flex;
    color: #fff;
    margin: 0 -15px;

}

.banner-left,
.banner-right {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 17px 23px 10px 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('/assets/image/banner-left.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-left-text,
.banner-right-text {
    font-size: 12px;
}

.banner-button {
    font-weight: 700;
    font-size: 10px;
    background-color: inherit;
    width: 74px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 2px;
    align-self: flex-end;
    justify-self: flex-end;
    color: #fff;
}

.banner-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 17px 23px 10px 16px;
    background-image: url('/assets/image/banner-right.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}


@media screen and (min-width: 850px) {
    .banner-left {
        width: 50%;
    }

    .banner-right {
        display: flex;
    }

    .banner {
        margin: 15px 0 30px 0;
        width: 67%;
    }
}