.egg-title {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.egg-img {
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 0;
    width: 25px;
    height: 31px;
}

.ellipse-img {
    position: absolute;
    top: -10px;
    left: 40px;
    z-index: 0;
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 850px) {
    .egg-img {
        width: 44px;
        height: 56px;
    }

    .ellipse-img {
        width: 16px;
        height: 16px;
    }
}