.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  background-color: inherit;
  font-size: 16px;
  color: #303030;
  position: absolute;
  z-index: 99;
}

.main-header-active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: inherit;
  font-size: 16px;
  color: #303030;
  position: absolute;
  z-index: 99;
}

.menu-icon {
  display: block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  margin: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

@media screen and (min-width: 850px) {
  .menu-icon {
    display: none;
  }

  .overlay {
    display: none;
  }
}