.items {
    flex-wrap: nowrap;
    gap: 15px;
    position: absolute;
    top: 761px;
    left: 15px;
}

.items>* {
    margin-bottom: 20px;
}

.items-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    flex: 0 0 160px;
    padding-top: 12px;
}

@media screen and (min-width: 850px) {
    .items {
        top: 1593px;
    }

    .items-list {
        padding-right: 20em;
        overflow-y: auto;
        justify-content: space-between;
        margin-right: 20em;
    }
}