.item-review {
    height: 189px;
    width: 127px;
    background-color: #ffffff;
    border: 0.2px solid;
    border-color: #b4b4b4;
    border-radius: 9px;
    box-shadow: 2px 2px 2px #00000040;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.item-review-img {
    height: 83px;
    width: 113px;
    border-radius: 5px;
    display: block;
    object-fit: contain;
}

.item-review-name {
    font-size: 10px;
    font-weight: 700;
    text-align: start;
    margin-top: 8px;
}

.item-review-text {
    width: 100%;
    margin-top: 8px;
    font-size: 6px;
    font-weight: 400;
    color: #707070;
    text-align: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    white-space: normal;
}

.item-data {
    font-size: 8px;
    font-weight: 400;
    text-align: start;
    margin-top: 8px;
    color: #707070;
}

.item-data::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #b4b4b4;
    margin: 8px 0;
}

.egg-info-container {
    width: 109px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

.egg-info-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.egg-info-name {
    font-size: 8px;
    font-weight: 700;
    text-align: start;
    color: #707070;
}

.egg-info-img {
    width: 30px;
    height: 100%;
    border: none;
    display: block;
    object-fit: contain;
    background-color: #ffffff;

}

@media screen and (min-width: 850px) {
    .item-review {
        width: 302px;
        height: 450px;
        padding: 17px;
    }

    .item-review-img {
        height: 197px;
        width: 269px;
    }

    .item-review-name {
        font-size: 24px;
    }

    .item-review-text {
        font-size: 15px;
    }

    .item-data {
        font-size: 16px;
    }

    .egg-info-container {
        width: 100%;
        height: 60px;
        gap: 10px;
    }

    .egg-info-text {
        gap: 10px;
    }

    .egg-info-name {
        font-size: 16px;
    }

    .egg-info-img {
        width: 67px;
    }
}