.items {
  flex-wrap: nowrap;
  gap: 15px;
  position: absolute;
  top: 720px;
  left: 15px;
}

.items > * {
  margin-bottom: 20px;
}

.items-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  flex: 0 0 160px;
}

.gap {
  height: 1px;
}
@media screen and (min-width: 850px) {
  .items {
    top: 1145px;
  }

  .items-list {
    padding-right: 20em;
    padding-top: 12px;
    overflow-y: auto;
    justify-content: space-between;
    margin-right: 20em;
  }
  .gap {
    height: 45px;
  }
}

@media screen and (min-width: 1910px) {
  .items {
    top: 1593px;
  }
}
