.item {
    height: auto;
    width: 127px;
}

.item-img-container {
    height: 134px;
    width: 127px;
    background-color: #E4E4E4;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.item-name {
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    margin-top: 8px;
}

.item-text {
    font-size: 12px;
    width: 100%;
    height: auto;
    text-wrap: wrap;
    font-weight: 500;
    text-align: start;
    margin-top: 8px;
    color: #707070;
}

.all-price {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    font-size: 12px;
    font-weight: 700;
    text-align: start;
    color: #EA7913;
}

.item-discount {
    font-size: 10px;
    font-weight: 500;
    text-align: end;
    color: #707070;
    text-decoration: line-through;
}

@media screen and (min-width: 1900px) {

    .item {
        height: 445px;
        width: 304px;
    }

    .item-img-container {
        height: 289px;
        width: 304px;
    }

    .item-name {
        font-size: 24px;
    }

    .item-text {
        font-size: 20px;
    }

    .item-price {
        font-size: 20px;
        margin-right: 10px;
    }

    .item-discount {
        font-size: 16px;
    }

    .item-img {
        width: 272px;
        height: 170px;
    }

    .all-price {
        justify-content: flex-start;
    }

}