.main {
  position: relative;
  padding: 5px 15px;
}

@media screen and (min-width: 850px) {
  .main {
    top: 114px;
  }
}


@media screen and (min-width: 1598px) {
  .main {
    padding-right: 20em;
  }
}