.egg-title {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.egg-img {
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 0;
  width: 25px;
  height: 31px;
}

.ellipse-img {
  position: absolute;
  top: 1px;
  left: 29px;
  z-index: 0;
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 850px) and (max-width: 1910px) {
  .egg-img {
    width: 44px;
    height: 56px;
    top: -10px;
  }

  .ellipse-img {
    width: 16px;
    height: 16px;
    top: -22px;
    left: 33px;
  }
}

@media screen and (min-width: 1910px) {
  .egg-img {
    width: 44px;
    height: 56px;
    top: -13px;
  }

  .ellipse-img {
    width: 16px;
    height: 16px;
    top: -22px;
    left: 37px;
  }
}