.banner {
    width: 100%;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left {
    width: 100%;
    height: 100%;
}

.banner-right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 850px) {
    .banner-left-container {
        width: 50%;
    }
}