.frame {
    align-items: center;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 234px;
    justify-content: center;
    padding: 12px 0px;
    position: relative;
    width: 375px;
}

.frame .group {
    height: 38px;
    position: relative;
    width: 119.59px;
}

.frame .frame-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
}

.frame .div {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
}

.frame .navbar {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 273px;
}

.frame .text-wrapper {
    align-items: center;
    color: #ababab;
    display: flex;
    font-family: "Pretendard-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0;
    line-height: 16.8px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
}

.frame .element {
    align-items: center;
    align-self: stretch;
    color: #ababab;
    display: flex;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0;
    line-height: 19.2px;
    position: relative;
    text-align: center;
}

.frame .span {
    color: #ababab;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19.2px;
}