.footer {
  align-items: center;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  justify-content: center;
  padding: 12px 0px;
  position: absolute;
  top: 950px;
  width: 100%;
  color: #fff;
}

.footer .group {
  height: 38px;
  position: relative;
  width: 119.59px;
}

.footer .frame-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.footer .div {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.footer .navbar {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 273px;
}

.footer .text-wrapper {
  align-items: center;
  color: #ababab;
  display: flex;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.footer .element {
  align-items: center;
  align-self: stretch;
  color: #ababab;
  display: flex;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 19.2px;
  position: relative;
  text-align: center;
}

.footer .span {
  color: #ababab;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.2px;
}
