.main-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #fff;
    font-size: 16px;
    color: #303030;
    position: absolute;
    z-index: 99;
}

.main-header-active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #303030;
    position: absolute;
    z-index: 99;
}

.menu-icon {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin: 15px;
}



@media screen and (min-width: 850px) {
    .menu-icon {
        display: none;
    }

}